<% var agendas = ["overdue", "today", "tomorrow"]%>

<div id="search-form" class="app-form">
  <div class="field">
    <input class="search" type="text" name="search">
  </div>
</div>

<ul id="meta" class="app-sidebar-section">

    <li class="app-sidebar-item">

      <a class="tags" href="#tags">
        @
      </a>

    </li>

</ul>

<ul id="agendas" class="app-sidebar-section">

  <% _.each(agendas, function(agenda){ %>

    <li class="agenda app-sidebar-item">

      <a href="#agenda/<%= agenda %>">
        <%= agenda %>
      </a>

    </li>

  <% }) %>

</ul>
