<% var agendas = ["Overdue", "Today", "Tomorrow"]%>

<ul class="app-sidebar-section">

    <li class="app-sidebar-item">

      <a href="#tags/">
        @
      </a>

    </li>

</ul>

<ul id="agendas" class="app-sidebar-section">

  <% _.each(agendas, function(agenda){ %>

    <li class="agenda app-sidebar-item">

      <a href="#agenda/<%= agenda %>">
        <%= agenda %>
      </a>

    </li>

  <% }) %>

</ul>
