<% var agendas = ["overdue", "today", "tomorrow"]%>

<div id="search-form" class="app-form">
  <div class="field">
    <input class="search" type="text" placeholder="Filter tasks" name="search">
  </div>
</div>

<ul id="meta" class="app-sidebar-section app-drop-parent clearfix">

    <li class="tags-btn app-sidebar-item">

      <a href="#tags">
       #tags 
      </a>

    </li>

    <li class="priority-menu app-drop-menu">
      <div class="app-drop-button"><i class="icon-exclamation"></i></div>
      <menu>

        <% _.each([1, 2, 3, 4, 5], function(num){ %>
          <div class="app-drop-item">
            <a href="#priority/<%= num %>">Priority <%= num %></a>
          </div>
        <% }) %>

      </menu>
    </li>

</ul>

<ul id="agendas" class="app-sidebar-section">

  <% _.each(agendas, function(agenda){ %>

    <li class="agenda app-sidebar-item">

      <a href="#agenda/<%= agenda %>">
        <%= agenda %>
      </a>

    </li>

  <% }) %>

</ul>
