<% var agendas = ["overdue", "today", "tomorrow"]%>

<div id="search-form" class="app-form">
  <div class="field">
    <input class="search" type="text" name="search">
  </div>
</div>

<ul id="meta" class="ddmp ddmpv02 clearfix">

    <li class="tags-btn app-sidebar-item">

      <a href="#tags">
        @
      </a>

    </li>

    <li class="ddm">
      <div class="ddbutton"><i class="icon-exclamation"></i></div>
      <nav>

        <% _.each([1, 2, 3, 4, 5], function(num){ %>
        <a href="#priority/<%= num %>">Priority <%= num %></a>
        <% }) %>

      </nav>
    </li>

</ul>

<ul id="agendas">

  <% _.each(agendas, function(agenda){ %>

    <li class="agenda app-sidebar-item">

      <a href="#agenda/<%= agenda %>">
        <%= agenda %>
      </a>

    </li>

  <% }) %>

</ul>
