<header id="app-header">
  <h1>Lime</h1>
</header>

<!-- App Sidebar-->

<nav id="app-sidebar">
  Loading sidebar...
</nav>

<!-- App Content -->

<section id="app-content">
  Loading content...
</section>

<!-- Bootstrap Data -->