<!-- App Sidebar-->

<nav id="sidebar">
  <div id="agendas"></div>
  <div id="lists-container"></div>
  <div id="lists-form-container"></div>
</nav>

<!-- App Content -->

<section id="app-content" class="clearfix">
</section>

<!-- Bootstrap Data -->
<script>
$(document).ready(function(){
  var currentUserData = <%= current_user.to_json.html_safe %>;
  var listsData = currentUserData.lists;
  var tasksData = currentUserData.tasks;
  var notesData = currentUserData.notes;
  var tagsData = currentUserData.tags;

  Lime.initialize(listsData, tasksData, notesData, tagsData);
});
</script>
