<!-- App Sidebar-->

<div id="app-sidebar-container">
  Loading sidebar...
</div>

<!-- App Content -->

<div id="app-content-container">
  <section id="app-content">
    Loading content...
  </section>
</div>

<!-- Bootstrap Data -->
<script>
$(document).ready(function(){
  var currentUserData = <%= current_user.to_json.html_safe %>;
  var listsData = <%= @lists.to_json.html_safe %>;
  var tasksData = <%= @tasks.to_json.html_safe %>;
  var tagsData = <%= @tags.to_json.html_safe %>;

  Lime.initialize(listsData, tasksData, tagsData);
});
</script>
