<header id="app-header">
  <h1>Lime</h1>
</header>

<!-- App Sidebar-->

<nav id="app-sidebar">
  Loading sidebar...
</nav>

<!-- App Content -->

<section id="app-content">
  Loading content...
</section>

<!-- Bootstrap Data -->
<script>
$(document).ready(function(){
  var currentUserData = <%= current_user.to_json.html_safe %>;
  var listsData = <%= @lists.to_json.html_safe %>;
  Lime.initialize(listsData);
});
</script>