<div class="index-show">
  <header class="inbox-header">
    <h3><%= inbox.title %></h3>
  </header>
</div>

<!-- <div class="inbox-hidden <% if(inbox.display){ %>hidden<% } %>">
  <button class="toggle-inbox">Show <%= inbox.title %> tasks.</button>
</div> -->
