/****************************************************
              APP FORM
*****************************************************/

/** App Form **/

.app-form{

  .field > input, .field > textarea, .field select, .field option{
    width: 100%;
    font-size: 15px;
    padding: 4px;
    border: $border-light;
    margin: 1px 0;
  }

  .field > input, .field > textarea{
    margin: 1px 0;
  }

  .submit > input{
    background: $accent-color-lmid;
    margin: 5px auto;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 12px;
  }

  .submit > input:hover{
    background: $accent-color-dmid;
  }

}

/** List Form **/

#list-form, #search-form{
  .field > input, .field > textarea{
    width: 215px;
  }
}


/** Task Form & Tag Form **/

.app-form.task-form, .app-form.tag-form{
  .field > input, .field > textarea{
    width: 615px;
  }
}

/** Task Form **/

.app-form.task-form{
  .task-tags-field{
    width: 92%;
    float: left;
    height: 31px;
  }

  .task-priority-field{
    width: 7%;
    float: right;
  }
}

/** Auth Forms **/

.auth-form-container{
  width: 259px;
  margin: auto;

  h2{
    font-size: 26px;
    font-family: $logo-font;
    color: $accent-color-dark;
  }
}

.button{
  display: inline-block;
  background: $accent-color-lmid;
  margin: 5px auto;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 12px;
}

.button:hover{
  background: $accent-color-dmid;
}
