/****************************************************
              DROP DOWN
*****************************************************/

/* Basic menu styles */

.ddm{
    width: 20px;
    float: right;
    position: relative;
    font-size: 15px;

    .ddbutton{
        width: 20px;
        height: 20px;
        color: white;
        text-align: center;
        line-height: 20px;
        border-radius: 8px;

        &:hover{
            cursor: pointer
        }
    }

    menu, nav{
        border-radius: 5px;
        display: none;
        position: absolute;
        margin-top: 3px;
        background: $accent-color-light;
        width: 175px;
        z-index: 1;
    }
    
    button, a{
        display: block;
        padding: 10px;
        width: 100%;

        &:hover{
            background: $accent-color-lmid;
            border-radius: 5px;
        }
    }

    a:hover{
        width: 155px;
    }
}

/* Dropped Styles */

.ddmp.dropped{
    menu, nav{
        display: block;
    }

    .ddbutton{
        background: $accent-color-lmid;
        color: $accent-color-light;

        &:hover{
            background: $accent-color-dmid;
            color: $accent-color-light;
        }
    }
}

/****************************************************
              STYLES
*****************************************************/

/* Style 01 */
// Has grey background on parent when hovered / menu dropped

.ddmpv01:hover{
    .ddbutton{
        background: $accent-color-lmid;
        &:hover{
            background: $accent-color-dmid;
            color: $accent-color-light;
        }
    }

    background: $border-color-light;
}

.ddmpv01.dropped{
    background: $border-color-light;
}

/* Style 02 */
// Has grey coloured button and no background on parent when hovered / menu dropped

.ddmpv02 .ddbutton{
    background: $border-color-light;

    &:hover{
        background: $accent-color-dmid;
        color: $accent-color-light;
    }
}

/****************************************************
          APP DROP PARENTS, IN CONTEXT
*****************************************************/

#content .ddmp h2{
    float: left;
    width: 580px;
}

#sidebar .ddmp > a:first-child{
    float: left;
    width: 195px;
}

