/****************************************************
              MANAGE CONTAINER
*****************************************************/

#manage{
  width: 900px;
  margin: auto;
}


/****************************************************
              MANAGE HEADER
*****************************************************/

#manage{

    > header{
        padding: 25px 0;

/* Logo */

        > #logo{
            float:left;
            width: 76px;
            height: 76px;
            padding-left: 40px;
            background: url(logo_med.png) no-repeat 0 0;
            background-size: 75px;
            font: 40px $logo-font;
            color: $accent-color-dark;
            line-height: 90px;
        }

/* Menu */

        > nav{
            float: right;

            li{
                font-size: 12px;
                float: left;
                padding-left: 20px;
            }
        }
    }

}

/****************************************************
              BASIC MANAGE LAYOUT
*****************************************************/

#manage{
    #content{
        float: left;
        width: 625px;
        padding-left: 50px;
    }

    #sidebar{
        float: left;
        width: 225px;

    }
}
