/****************************************************
              APP CONTENT
*****************************************************/

/* Content Header */

.content-header{
  padding-bottom: 10px;

  h2{
    font-size: 23px;
    text-transform: capitalize;
  }
}

/****************************************************
              Tasks
*****************************************************/

.task{
    .body{
        width: 595px;
        padding-left: 30px;
        margin-bottom: 10px;
        border-bottom: $border-light;
    }

    .completed-check, .completed-check{
        width: 14px;
        margin: 10px 5px;
        float: left;
    }

    .title{
        width: 587px;
        line-height: 15px;
        font-size: 15px;
        padding: 10px 5px 10px 3px;
        border-bottom: $border-light;

        h4{
            float:left;
        }

        .title-container{
            float: left;
            width: 563px;
        }

        &:hover .hghlt01{
            background: $accent-color-lmid;
        }
    }

    .description{
        font-size: 12px;
        padding: 10px 3px;
    }

    .tags {
        border-bottom: 1px dashed $border-color-light;

        a{
            font-size: 11px;
            color: $accent-color-dmid;
            border-right: $border-light;
            padding-right: 5px;

            &:last-child{
                border: 0;
            }

            &:hover{
                color: $accent-color-dark;
            }

        }
    }

    .hghlt01{
        float: left;
        text-transform: capitalize;
    }

}

.completed{

  .title.dropped{
    background: #F7F7F7;
  }

  .title, .title.dropped{
    &:hover{
      background: #F7F7F7;
      .task-due{
        background: #E3E6E5;
      }
    }
    h4{
      text-decoration: line-through;
    }

    .ddm menu{
      background: #F7F7F7;
    }
  }

  .due{
    background: $border-color-light;
  }

  .tags a{
    color: $border-color-light;;
  }

}

/****************************************************
              Tags index
*****************************************************/

#tags{
  margin-bottom: 10px;
}

.tag{
  line-height: 15px;
  font-size: 15px;
  border-bottom: $border-light;

  >.show, >.edit{
      padding: 10px 5px 10px 3px;
  }

  >.show:hover .hghlt01{
      background: $accent-color-lmid;
  }
}


/****************************************************
              Nothing to do
*****************************************************/

#nothing-to-do *{
  color: $accent-color-dmid;
  font-size: 13px;
  float: left;
  text-align: center;
  line-height: 20px;
  height: 20px;
  padding: 10px 5px 10px 0;
}

#nothing-to-do{
  border-bottom: $border-light;
  margin-bottom: 10px;
}
