/****************************************************
              APP CONTENT
*****************************************************/


#app-content{
  float: left;
  width: 625px;
  padding-left: 50px;
}

/* Content Header */

.app-content-header{
  padding-bottom: 10px;

  h2{
    font-size: 23px;
    text-transform: capitalize;
  }
}

/****************************************************
              Tasks
*****************************************************/

.task-body {
  width: 595px;
  padding-left: 30px;
  margin-bottom: 10px;
  border-bottom: $border-light;
}

.toggle-task-completed, .toggle-task-completed:focus{
  width: 14px;
  margin: 10px 5px;
  float: left;
}

.task-title{
  width: 587px;
  line-height: 15px;
  font-size: 15px;
  padding: 10px 5px 10px 3px;
  border-bottom: $border-light;
}

.task-title h3{
  float: left;
}

.task-title .title-container{
  display: inline-block;
  width: 563px;
}

.task-description{
  font-size: 12px;
  padding: 10px 3px;
}

.task-tags a{
  font-size: 11px;
  color: $accent-color-dmid;
  border-right: $border-light;
  padding-right: 5px;
}

.task-tags a:last-child{
  border: 0;
}

.task-tags {
  border-bottom: 1px dashed $border-color-light;
}

.task-tags a:hover{
  color: $accent-color-dark;
}

.task-due{
  font-size: 10px;
  padding: 2px 4px;
  margin: 0 5px;
  border-radius: 5px;
  background: $accent-color-light;
  float: left;
  text-transform: capitalize;
}

.task-title:hover{
  background: $accent-color-light;
}

.task-title:hover .task-due{
  background: $accent-color-lmid;
}

.completed{

  .task-title.dropped{
    background: #F7F7F7;
  }

  .task-title, .task-title.dropped{
    &:hover{
      background: #F7F7F7;
      .task-due{
        background: #E3E6E5;
      }
    }
    h3{
      text-decoration: line-through;
    }

    .app-drop-menu menu{
      background: #F7F7F7;
    }
  }

  .task-due{
    background: $border-color-light;
  }

  .task-tags a{
    color: $border-color-light;;
  }

}

/****************************************************
              Tags index
*****************************************************/

#tags{
  margin-bottom: 10px;
}

.tag{
  width: 617px;
  line-height: 15px;
  font-size: 15px;
  border-bottom: $border-light;
}

.tag-task-count{
  font-size: 10px;
  padding: 2px 4px;
  border-radius: 5px;
  background: $accent-color-light;
}

.tag-show, .tag-edit{
  padding: 10px 5px 10px 3px;
}

.tag-show:hover{
  background: $accent-color-light;
}

.tag-show:hover .tag-task-count{
  background: $accent-color-lmid;
}


/****************************************************
              Nothing to do
*****************************************************/

#nothing-to-do *{
  color: $accent-color-dmid;
  font-size: 13px;
  float: left;
  text-align: center;
  line-height: 20px;
  height: 20px;
  padding: 10px 5px 10px 0;
}

#nothing-to-do{
  border-bottom: $border-light;
  margin-bottom: 10px;
}
