/****************************************************
              APP SIDEBAR
*****************************************************/

/* General Styles */

#sidebar{
    ul{
        border-bottom: $border-light;
        margin-bottom: 10px;
    }

    .app-sidebar-item{
        width: 215px;
        padding: 5px;
        font-size: 15px;
        text-transform: capitalize;

        &:hover{
            background: $accent-color-light;
        }
    }
}

#sidebar{
  #meta > li{
    width: 20px;
    padding: 6px;

    &:hover{
     background: none;
    }
  }

   .tags-btn{
     float: left;
   }
}

/* Lists only */

#sidebar{

  .list-task-count{
    font-size: 12px;
    vertical-align: center;
    color: $accent-color-dmid;
  }

}


