/****************************************************
              APP SIDEBAR
*****************************************************/


/* General Styles */

#sidebar{
  float: left;
  width: 225px;

  ul{
    border-bottom: $border-light;
    margin-bottom: 10px;
  }

  .app-sidebar-item{
    width: 215px;
    padding: 5px;
    font-size: 15px;
    text-transform: capitalize;
  }

  .app-sidebar-item:hover{
    background: $accent-color-light;
  }

}

#sidebar{
  #meta > li{
    width: 20px;
    padding: 6px;

    &:hover{
     background: none;
    }
  }

   #meta.dropped{
     background: none;
   }

   .tags-btn{
     float: left;
   }

   .priority-menu.app-drop-menu{
     float: right;
     .app-drop-button{
       background: $accent-color-lmid;
       &:hover{
         background: $accent-color-dmid;
       }
     }
   }
}

/* Lists only */

#sidebar{

  .list > a{
    display: inline-block;
    width: 88%;
  }

  .list-task-count{
    font-size: 12px;
    vertical-align: center;
    color: $accent-color-dmid;
  }

}


