<div class="task-menu app-drop-menu">
  <div class="app-drop-button"></div>

    <menu>
      <button class="edit-task">Edit task</button>

      <button class="complete-task">
        <% if(task.get('completed')){ %>
          Mark as uncompleted
        <% } else { %>
          Mark as completed
        <% }; %>
      </button>

      <button class="archive-task">
        <% if(task.get('archived')){ %>
          Unarchive task
        <% } else { %>
          Archive task
        <% }; %>
      </button>

      <button class="do-it-today-task">Do it today</button>

      <button class="postpone-task">Postpone</button>

      <button class="delete-task">Delete task</button>

    </menu>

  </div>
</div>