<div class="task-menu ddm">
  <div class="ddbutton"><i class="icon-caret-down"></i></div>

  <menu>
    <button class="edit">Edit task</button>

    <button class="toggle" data-toggle="completed">
      <% if(task.get('completed')){ %>
        Mark as uncompleted
      <% } else { %>
        Mark as completed
      <% }; %>
    </button>

    <button class="toggle" data-toggle="archived">
      <% if(task.get('archived')){ %>
        Unarchive task
      <% } else { %>
        Archive task
      <% }; %>
    </button>

    <button class="do-it-today">Do it today</button>

    <button class="postpone">Postpone</button>

    <button class="move">Move to another list</button>

    <button class="delete">Delete task</button>

  </menu>

</div>
