<form class="note-form app-form">

  <div class="note-body-field field">
    <input type="text" name="note[body]" value="<%= note.get("body") %>">
  </div>

  <div class="note-submit-button submit">
    <input type="submit" value="Submit Note">
  </div>

</form>
