<div class="lightbox-bg">
  <div class="lightbox centered">

    <header class="app-content-header">
      <h2>Notes on <span id="notes-task-title"><%= task.get('title') %></span></h2>
    </header>

  </div>
</div>
