<div class="note-show">

  <article class="note-body">
    
    <header class="note-header">
      <time class="note-created-at"><%= note.get('created_at') %> </time>
    </header>

    <p><%= note.get('body') %></p>

  </article>

</div>
