/****************************************************
              SITE CONTAINER
*****************************************************/

#site-content{
  width: 900px;
  margin: auto;
}



/****************************************************
              APP HEADER
*****************************************************/

#app-header{
  padding: 25px 0;
}

#app-logo{
  float:left;
  width: 76px;
  height: 76px;
  padding-left: 40px;
  background: url(logo_med.png) no-repeat 0 0;
  background-size: 75px;
  font: 40px $logo-font;
  color: $accent-color-dark;
  line-height: 90px;
}

#app-header-nav{
  float: right;

  li{
    font-size: 12px;
    float: left;
    padding-left: 20px;
  }
}

#screenshot{
  border: solid grey 20px;
  border-radius: 20px;
  width: 860px;
}

#tag-line{
  background: $accent-color-lmid;
  text-align: center;
  font-size: 60px;
  font-family: $logo-font;
  padding: 20px;
  position: absolute;
  width: 100%;
  left: 0;
  top: 700px;
}


/****************************************************
              APP SIDEBAR
*****************************************************/


/* General Styles */

#app-sidebar{
  float: left;
  width: 225px;

  .app-sidebar-section{
    border-bottom: $border-light;
    margin-bottom: 10px;
  }

  .app-sidebar-item{
    width: 215px;
    padding: 5px;
    font-size: 15px;
    text-transform: capitalize;
  }

  .app-sidebar-item:hover{
    background: $accent-color-light;
  }

}

#app-sidebar{
  #meta > li{
    width: 20px;
    padding: 6px;

    &:hover{
     background: none;
    }
  }

   #meta.dropped{
     background: none;
   }

   .tags-btn{
     float: left;
   }

   .priority-menu.app-drop-menu{
     float: right;
     .app-drop-button{
       background: $accent-color-lmid;
       &:hover{
         background: $accent-color-dmid;
       }
     }
   }
}

/* Lists only */

#app-sidebar{

  .list > a{
    display: inline-block;
    width: 88%;
  }

  .list-task-count{
    font-size: 12px;
    vertical-align: center;
    color: $accent-color-dmid;
  }

}


/****************************************************
              APP CONTENT
*****************************************************/


#app-content{
  float: left;
  width: 625px;
  padding-left: 50px;
}

/* Content Header */

.app-content-header{
  padding-bottom: 10px;

  h2{
    font-size: 23px;
    text-transform: capitalize;
  }
}

/****************************************************
              Tasks
*****************************************************/

.task-body {
  width: 595px;
  padding-left: 30px;
  margin-bottom: 10px;
  border-bottom: $border-light;
}

.toggle-task-completed, .toggle-task-completed:focus{
  width: 14px;
  margin: 10px 5px;
  float: left;
}

.task-title{
  width: 587px;
  line-height: 15px;
  font-size: 15px;
  padding: 10px 5px 10px 3px;
  border-bottom: $border-light;
}

.task-title h3{
  width: 563px;
  display: inline-block;
}

.task-description{
  font-size: 12px;
  padding: 10px 3px;
}

.task-tags a{
  font-size: 11px;
  color: $accent-color-dmid;
  border-right: $border-light;
  padding-right: 5px;
}

.task-tags a:last-child{
  border: 0;
}

.task-tags {
  border-bottom: 1px dashed $border-color-light;
}

.task-tags a:hover{
  color: $accent-color-dark;
}

.task-due{
  font-size: 10px;
  padding: 2px 4px;
  border-radius: 5px;
  background: $accent-color-light;
}

.task-title:hover{
  background: $accent-color-light;
}

.task-title:hover .task-due{
  background: $accent-color-lmid;
}

/****************************************************
              Tags index
*****************************************************/

#tags{
  margin-bottom: 10px;
}

.tag{
  width: 617px;
  line-height: 15px;
  font-size: 15px;
  border-bottom: $border-light;
}

.tag-task-count{
  font-size: 10px;
  padding: 2px 4px;
  border-radius: 5px;
  background: $accent-color-light;
}

.tag-show, .tag-edit{
  padding: 10px 5px 10px 3px;
}

.tag-show:hover{
  background: $accent-color-light;
}

.tag-show:hover .tag-task-count{
  background: $accent-color-lmid;
}
