/****************************************************
              SITE CONTAINER
*****************************************************/

#site-content{
  width: 900px;
  margin: auto;
}

/****************************************************
              APP HEADER
*****************************************************/

#app-header{
  padding: 25px 0;
}

#app-logo{
  width: 76px;
  height: 76px;
  padding-left: 40px;
  background: url(logo_med.png) no-repeat 0 0;
  background-size: 75px;
  font: 40px $logo-font;
  color: $accent-color-dark;
  line-height: 90px;
}

/****************************************************
              APP SIDEBAR
*****************************************************/


/* General Styles */

#app-sidebar{
  float: left;
  width: 225px;

  .app-sidebar-section{
    border-bottom: $border-light;
    margin-bottom: 10px;
  }

  .app-sidebar-item{
    width: 215px;
    padding: 5px;
    font-size: 15px;
  }

  .app-sidebar-item:hover{
    background: $accent-color-light;
  }

}

/* Lists only */

#app-sidebar{

  .list > a{
    display: inline-block;
    width: 88%;
  }

  .list-task-count{
    font-size: 12px;
    vertical-align: center;
    color: $accent-color-dmid;
  }

}


/****************************************************
              APP CONTENT
*****************************************************/


#app-content{
  float: left;
  width: 625px;
  padding-left: 50px;
}

/****************************************************
              FEATURED LIST
*****************************************************/

/* Header */

#featured-list-header{
  padding-bottom: 10px;

  h2{
    font-size: 23px;
  }
}

/* Tasks */

.task-body {
  width: 595px;
  padding-left: 30px;
  margin-bottom: 10px;
  border-bottom: $border-light;
}

.toggle-task-completed, .toggle-task-completed:focus{
  width: 14px;
  margin: 10px 5px;
  float: left;
}

.task-title{
  width: 589px;
  line-height: 15px;
  font-size: 15px;
  padding: 10px 5px 10px 3px;
  border-bottom: $border-light;
}

.task-title h3{
  width: 565px;
  display: inline-block;
}

.task-description{
  font-size: 12px;
  padding: 10px 3px;
}

.task-due{
  font-size: 10px;
  padding: 2px 4px;
  border-radius: 5px;
  background: $accent-color-light;
}

.task-title:hover{
  background: $accent-color-light;
}

.task-title:hover .task-due{
  background: $accent-color-lmid;
}