.app-form{

  .field > input, .field > textarea{
    font-size: 15px;
    padding: 4px;
    border: $border-light;
    margin: 1px 0;
  }

  .submit > input{
    background: $accent-color-lmid;
    margin: 5px auto;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 12px;
  }

  .submit > input:hover{
    background: $accent-color-dmid;
  }
}

#list-form{

  .field > input, .field > textarea{
    width: 215px;
  }

}

#task-form{

  .field > input, .field > textarea{
    width: 615px;
  }

}

.auth-form-container{
  width: 259px;
  margin: auto;

  h2{
    font-size: 26px;
    font-family: $logo-font;
    color: $accent-color-dark;
  }
}

.button{
  display: inline-block;
  background: $accent-color-lmid;
  margin: 5px auto;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 12px;
}

.button:hover{
  background: $accent-color-dmid;
}