.app-form{
  .field > input{
    width: 100%;
    font-size: 15px;
    padding: 3px;
  }

  .submit > input{
    background: $accent-color-lmid;
    margin: 5px auto;
    padding: 10px 15px;
    border-radius: 5px;
  }

  .submit > input:hover{
    background: $accent-color-dmid;
  }
}