/****************************************************
              SITE CONTAINER
*****************************************************/

#site-content{
  width: 900px;
  margin: auto;
}

/****************************************************
              APP HEADER
*****************************************************/

#app-header{
  padding: 25px 0;
}

#app-logo{
  width: 76px;
  height: 76px;
  padding-left: 40px;
  background: url(logo_med.png) no-repeat 0 0;
  background-size: 75px;
  font: 40px $logo-font;
  color: $accent-color-dark;
  line-height: 90px;
}

/****************************************************
              APP SIDEBAR
*****************************************************/

#app-sidebar{
  float: left;
  width: 225px;

  /* Basic list style */

  .list{
    width: 100%;
    padding: 5px;
    font-size: 15px;
  }

  .list > a{
    display: inline-block;
    width: 88%;
  }

  .list-task-count{
    font-size: 12px;
    vertical-align: center;
    color: $accent-color-dmid;
  }

  /* List hover effects */

  .list:hover{
    background: $accent-color-light;
  }

  #list-form > .field > input{
    width: 100%;
    font-size: 15px;
    padding: 3px;
  }

  #list-form .submit > input{
    background: $accent-color-lmid;
    margin: 5px auto;
    padding: 10px 15px;
    border-radius: 5px;
  }

  #list-form .submit > input:hover{
    background: $accent-color-dmid;
  }
}


/****************************************************
              APP SIDEBAR
*****************************************************/


#app-content{
  float: left;
  width: 625px;
  padding-left: 50px;
}