/****************************************************
              BASIC-DROPDOWN
*****************************************************/

/* Basic menu styles */

.app-drop-menu{
  width: 20px;
  float: right;
  position: relative;
  font-size: 15px;

  menu{
    border-radius: 5px;
    display: none;
    position: absolute;
    margin-top: 3px;
    background: $accent-color-light;
    width: 175px;
    z-index: 1;

    button, .app-drop-item{
      padding: 10px;
      width: 100%;
    }

    button:hover, .app-drop-item:hover{
      background: $accent-color-lmid;
    }

    .app-drop-item:hover{
      width: 155px;
    }
  }
}

.app-drop-button{
  width: 20px;
  height: 20px;
  color: white;
  text-align: center;
  line-height: 20px;
  border-radius: 8px;
}

/* Hover effects */

.app-drop-parent:hover .app-drop-button{
  background: $accent-color-lmid;
}

.app-drop-menu .app-drop-button:hover{
    background: $accent-color-dmid;
    color: $accent-color-light;
}

/* Dropped Styles */

.dropped{
  background: $accent-color-light;

  .app-drop-button{
    background: $accent-color-lmid;
    color: $accent-color-light;
  }

  menu{
    display: block;
  }
}

/****************************************************
          BASIC DROPDOWN, STYLED IN CONTEXT
*****************************************************/

.app-content-header.app-drop-parent {
  h2{
    display: inline-block;
    width: 580px;
  }
}

.app-content-header.app-drop-parent{
  .app-drop-button{
    background: $border-color-light;
  }

  .app-drop-button:hover{
    background: $accent-color-dmid;
  }

}

.app-content-header.dropped{
  background: white;

  .app-drop-button{
      background: $accent-color-lmid;
      color: $accent-color-light;
    }

    .app-drop-button:hover{
      background: $accent-color-dmid;
    }

}

//.tag.dropped{
//  background: white;
//
//  .app-drop-button{
//      background: $accent-color-lmid;
//      color: $accent-color-light;
//    }
//
//    .app-drop-button:hover{
//      background: $accent-color-dmid;
//    }
//
//}


