/****************************************************
              FONTS
*****************************************************/

$logo-font: 'Lily Script One', cursive;
$body-font: 'Open Sans', sans-serif;


/****************************************************
              COLOURS
*****************************************************/

$body-text-color: black;
$accent-color-light: rgb(232, 242, 216);
$accent-color-lmid: rgb(200, 221, 152);
$accent-color-dmid: rgb(176, 212, 83);
$accent-color-dark: rgb(109, 135, 39);
$feature-color-mid: rgb(104, 26, 135);
$feature-color-dark: rgb(68, 17, 89);

