<form id="list-form">

  <div id="list-title" class="input">
    <input type="text" name="list[title]">
  </div>

  <div id="list-submit" class="submit button">
    <input type="submit" value="Add list">
  </div>

</form>