<form class="list-form app-form">

  <div class="field">
    <input type="text" name="list[title]" value="<%= list.get('title') %>">
  </div>

  <div class="submit">
    <input type="submit" value="Add list">
  </div>

</form>
