<form id="list-form" class="app-form">

  <div id="list-title-field" class="field">
    <input type="text" name="list[title]" value="<%= list.get('title') %>">
  </div>

  <div id="list-submit-button" class="submit button">
    <input type="submit" value="Add list">
  </div>

</form>