<div class="list-menu app-drop-menu">
  <div class="app-drop-button"><i class="icon-caret-down"></i></div>
  <menu>

    <button class="edit-list">Edit list</button>

    <button class="toggle" data-toggle="completed">
      <% if(list.get('completed')){ %>
        Mark as uncompleted
      <% } else { %>
        Mark as completed
      <% }; %>
    </button>

    <button class="toggle" data-toggle="archived">
      <% if(list.get('archived')){ %>
        Unarchive list
      <% } else { %>
        Archive list
      <% }; %>
    </button>

    <button class="delete-list">Delete list</button>

  </menu>
</div>