<div class="ddm">
  <div class="ddbutton"><i class="icon-caret-down"></i></div>
  <menu>

    <button class="edit">Edit list</button>

    <button class="toggle" data-toggle="completed">
      <% if(list.get('completed')){ %>
        Mark as uncompleted
      <% } else { %>
        Mark as completed
      <% }; %>
    </button>

    <button class="toggle" data-toggle="archived">
      <% if(list.get('archived')){ %>
        Unarchive list
      <% } else { %>
        Archive list
      <% }; %>
    </button>

    <button class="delete">Delete list</button>

  </menu>
</div>
