<div class="ddm">
  <div class="ddbutton"><i class="icon-chevron-down"></i></div>
  <menu>

    <button class="sort" data-sort="title">Sort by title</button>

    <button class="sort" data-sort="due">Sort by date</button>

    <button class="sort" data-sort="priority">Sort by priority</button>

  </menu>
</div>
