<div class="sort-menu app-drop-menu">
  <div class="app-drop-button"><i class="icon-chevron-down"></i></div>
  <menu>

    <button class="sort-tasks" data-sort="title">Sort by title</button>

    <button class="sort-tasks" data-sort="due">Sort by date</button>

    <button class="sort-tasks" data-sort="priority">Sort by priority</button>

  </menu>
</div>
