<form class="tag-form app-form">

  <div class="tag-name-field field">
    <input type="text" name="tag[name]" placeholder="Tag title" value="<%= tag.get("name") %>">
  </div>

  <div class="tag-submit-button submit">
    <input type="submit" value="Add tag">
  </div>

</form>
