<form id="tag-form" class="app-form">

  <div id="tag-name-field" class="field">
    <input type="text" name="tag[name]" value="<%= tag.get("name") %>">
  </div>

  <div id="tag-submit-button" class="submit">
    <input type="submit" value="Add tag">
  </div>

</form>
