<header id="tags-header">
  <h2>Tags</h2>
</header>

<ul id="tags">

  <% tags.each(function(tag){ %>

    <li class="tag app-drop-parent">
      <a href="#"><%= tag.get('name') %></a>
      <span class="tag-task-count">??</span>

      <%= menuTemplate({ tag: tag }) %>
    </li>

  <% }); %>

</ul>
