<div class="ddm">
  <div class="ddbutton"><i class="icon-caret-down"></i></div>

    <menu>

      <button class="edit">Edit tag</button>

      <button class="delete">Delete tag</button>

    </menu>

  </div>
</div>
