<div class="tag-menu app-drop-menu">
  <div class="app-drop-button"><i class="icon-caret-down"></i></div>

    <menu>

      <button class="edit-tag">Edit tag</button>

      <button class="delete-tag">Delete tag</button>

    </menu>

  </div>
</div>
